<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta HTTP-EQUIV="Expires" CONTENT="0">
    <title>Title</title>
    <script><%= htmlWebpackPlugin.options.fontSize %>(640);var AdobeAn;</script>
</head>
<body <%= htmlWebpackPlugin.options.platform %>>
<div id="app"></div>
<script src="//go.163.com/web/f2e_common/common/js/common.min.js"></script>
</body>
</html>